@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat', sans-serif!important;
  background:white;
}

*{
  -webkit-user-drag: none!important;
}

.bk-wrapper {
  background: url('../public/images/bg-action.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}



