@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat', sans-serif!important;
  background:white;
  padding: 0;
  margin: 0;
}

*{
  -webkit-user-drag: none!important;
}

.bk-wrapper {
  background: url('../public/images/bg-action.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: auto;
  height: auto;
}

@media (max-width: 282px) {
  .main-text {
    font-size: 24px;
    margin: -8px 0px;
  }
}


